*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.nav-bar{
    box-shadow: rgb(51, 51, 51) 3px 2px 1px;
    display: flex;
    padding:10px 30px;
    justify-content: space-between;
    font-weight: bolder;
    align-items: center;
    background:rgba(255, 255, 255, 0.836);
}
.navbar-nav{
    display: -webkit-box;
}
.nav-options{
    width: 500px;
}
nav ul{
    display: flex;
    margin:0;
    margin-right: 5%;
}
nav li{
    padding-left: 40px;
    list-style: none;
}
nav li a{
    
    color: black;
    text-decoration: none;
}
nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
nav li:hover > ul {
    display:block;
}

nav li ul li {
    position:relative;
    text-align: center;
}

nav li ul li ul {
    right:-140px;
    top:0px;
}
.categorias{
    border: #16394d solid 1px;
    border-top: orange solid 5px;
}
.category{
    background: white;
    padding: 5px 2px;
}
.category a{
    text-decoration: none;
    color: inherit;
}
.category:hover{
    background: orange ;
}
.nav-link:hover{
 color: orangered;
 border-bottom:orangered 1px solid ;
}
.nav-login{
    display: inherit;
}
.nav-login li a{
    background: black;
    color: white;
    font-weight: bolder;
    padding: 8px;
    border-radius: 5px;
}
.nav-login button{
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
}

.nav-login li a:hover{
    background: orange;
    text-decoration: none;
    color: black;
    box-shadow: grey 2px 1px;
}
.btn-bit{
    background: orange;
    color: black;
    font-weight: bolder;
}
.btn-bit:hover{
    background-color:black;
    color:white;
}
.carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel{
    position: relative;
}
.container-text{
    margin: 0 5%;
    padding: 0 5px;
    height: 100%;
}
.overlay .row{
    height: 100%;
}
#carousel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
section h1 {
    margin-top: 60px;
}

.slide-news{
    background: -webkit-linear-gradient(0deg, #1c3643 0, #273b47 25%, #16394d);;
    
}

.search{
    height: 50px;
    background: orange;
    padding: 5px;
    margin-bottom: 50px;
}
.search .container{
    display: flex;
    align-items: center;
}
.search h3{
    padding-right: 10px;
}
.search input{
    height: 30px;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}
.banner img{
    width: 100%;
}
.foot{
    text-align: center;
    padding: 20px;
}
footer{
    background:#343a40;
    padding: 10px;
    color:white;
}
.titulos{
    background-color: rgb(2, 2, 2);
    width: 100%;
    height: auto;
    padding: 1%;
    margin: 5%;
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: orange  solid 4px;
}
.card{
    border: solid 4px rgba(8, 8, 8, 0.849);
    border-radius: 3px;
}
<<<<<<< HEAD
<<<<<<< HEAD

/*********************DETALLE NOTICIAS**********************/

.imagen-container{
    text-align: center;
}
.imagen-container img{
    width: 500px;
    height: 400px;
    object-fit:cover;
  }
 
=======
>>>>>>> 9ab1a6528dc770cc11bcfebcacaa53ab4bf1d0ee
=======
>>>>>>> f6eec3bab8dfaa48ddb6d1d0c42833252d437a10
